<%= form_for @shorturl, :url => shorturls_path do |f| %>
    <% if @shorturl.errors.any? %>
        <% @shorturl.errors.full_messages.each do |msg| %>
            <li style="color:red"><%= msg %></li>
        <% end %>
    <% end %>
    <%= f.label :url, "Enter the url:" %>
    <%= f.url_field :url %>

    <%= f.submit "Submit" %>
<% end %>
<% if @shorturls.exists? %>
    <table border="1">
      <tr>
        <td>網址</td>
        <td>短網址</td>
        <td>點擊次數</td>
      </tr>
      <% @shorturls.each do |shorturl| %>
          <tr>
            <td><%= shorturl.url %></td>
            <td><%= link_to "短網址", redirect_path(:q => shorturl.short_url) %></td>
            <td><%= shorturl.convert_num %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<%= paginate @shorturls %>
